# Open an embedded file dialog in sioyek - don't use my default file explorer
open_document_embedded o
# next_state <C-n>
# prev_state <C-i>

# next item use j instead
# next_item j
# previous_item <S-j>
# use n and i to move up and down
# move_visual_mark_down		n
# move_visual_mark_up	        i
move_left                       l
move_right                      L
goto_top_of_page;goto_right     w
goto_bottom_of_page;goto_left   <C-w>
# vim screen up screen down
screen_up         <C-b>
screen_down         <C-f>
# some more stuff here
# I just want to unbind it?
nop         q
